.home-container {
    background-image: url('../images/bbq-plate.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text-shadow */
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text-shadow */
}

.cta {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.cta:hover {
    background-color: #0056b3;
}
